<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.devdome.bhu.app" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <permission
        android:name="net.devdome.bhu.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="net.devdome.bhu.app.permission.C2D_MESSAGE" />

    <application
        android:name=".BHUApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Material" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDBcqdEV5zsQQuqV5MeH4ApVwwhDiKehdc" />

        <provider
            android:name=".provider.NewsProvider"
            android:authorities="net.devdome.bhu.app"
            android:exported="true" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme.Dark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".authentication.BHUAuthenticateService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyCoursesActivity"
            android:label="@string/my_courses"
            android:screenOrientation="portrait" />

        <service
            android:name=".sync.BHUSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".ui.activity.StoryActivity"
            android:label="@string/title_activity_story"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme.Dark" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".sync.NewPostsReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="net.devdome.bhu.app.sync.ACTION_FINISHED_SYNC" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.BhuGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.BhuInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".ui.activity.CourseDetailActivity" />
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!-- <receiver android:name=".ui.activity.MainActivity$EveningUpdatesReceiver" /> -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b978c98fd61e0821aac538be83bc868b950296e0" />

        <activity android:name=".ui.activity.NotificationActivity" />
    </application>

</manifest>